.page-header {
    height: 520px;
    width: 100%;
    background-color: rgb(221, 244, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
}
